* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(237, 219, 241);
    
}

header {
    background-color: rgba(94, 54, 132);
    padding: 20px;
    padding-bottom: 10px;
    color: white;
}

.headercontent {
    display: flex;
    text-align: center;
}

.headerlogo {
    width: 10vw;
    text-align: left;
    
}

.title {
    padding-left: 20px;
}

nav {
    width: 100%;
    padding: 5px;
    margin-right: 0px;
    align-items: right;
    background-color: rgba(94, 54, 132);
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.navlinks li{
    display: inline-block;
    padding-right: 40px;
    
}

.button-up {
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(94, 54, 132);
    color:white;
    /* text-align: center; */
    padding: 5px;
    border-radius: 999px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    box-sizing: border-box;
    transition: 0.5s all;
    text-decoration: none;
    text-align: center 
}

.button-up:hover {
    background-color: #f2a725e0
}

.navlinks a {

    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s all;
}

.navlinks a:hover {
    background-color: #f2a725e0;
    
}

main {
    margin-top: 60px;
    
}

#productos {
    padding-bottom: 20px;
}

.title_h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.container {
    justify-content: space-evenly;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px
}

.container img {
    width: 300px; 
    height: auto;
}

.title_h3 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

.item {
    height: auto;
    width: 300px;
    justify-content: center;
    align-items: center;
    text-align: center ;
}

.carousel {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
}

.carousel-item img {
    max-width: 100%;
    height: auto; 
}

.contactanos_container{
    display: flex;
    margin-top: 3vw;
    position: relative;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}

#contacto {
    position: relative;
    left: 30%;
    margin-top: 3vw;
    width: 40vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1vw;
    text-align: center;
}

#contacto form label {
    font-size: 15px;
    text-align: center;
    
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(94, 54, 132);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f2a725e0;
}

textarea{
    margin-top: 5px;
    width: 100%;
}

.articulo_mapa{
    margin-top: 5vw;
}

#dondeestamos{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.dondeestamos img{
    height: 30vw;
}

.dondeestamos_domicilio {
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#map {
    height: 20vw;
    width: 25vw;
    border: 0;
    margin-bottom: 25px;
    
}

.container_footer {
    background-color: #7845a7;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.footer_logo {
    width: 8vw;
    
}

.item_footer {
    list-style-type: none;
    text-align: center;
}

.sector_redes {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin-left: 15px;
}
@media only screen and (max-width: 900px) {

	.navlinks li {
        padding: 5px;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }
    
    .item {
        width: 80%;
        margin-bottom: 1rem;
    }

    .carousel-inner {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .navlinks {
        flex-direction: column;
        align-items: center;
    }
    
    .navlinks li {
        padding: 5px;
    }
    .navlinks a {
		padding: 0px; 
		border: none; 
		border-radius: 0px; 
		display: flex;
		transition: 1s all;
}
	.navlinks a:hover {
		color: #f2a725e0;
    }
    
    .carousel-inner {
        width: 80%;
    }

    #form {
        display: block;
        padding: 0 1rem;
    }
}

/* Hasta 480px */
@media only screen and (max-width: 480px) {
    .title {
        font-size: 1.2rem;
    }
    
    .headerlogo {
        width: 40px;
    }
    
    .container {
        flex-direction: column;
    }
    
    .item {
        width: 90%;
    }
    
   
    .navlinks {
        flex-direction: column;
        align-items: center;
    }

    .navlinks li {
        margin: 0.5rem 0;
        padding: 3px
    }
    .navlinks a {
		font-size: 0.8em;
		padding: 0px; 
		border: none; 
		border-radius: 0px; 
		display: flex;
		transition: 1s all;
}
	.navlinks a:hover {
		color: #f2a725e0;
    }
    .title_h2, title_h3 {
		font-size: 1.5em
	}
	
	#contacto {
    position: relative;
    left: 30%;
    margin-top: 3vw;
    width: 40vw;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1vw;
    text-align: center;
}

	#contacto form label {
    font-size: 15px;
    text-align: center;
    
}

}
