* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(237, 219, 241);
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: rgba(94, 54, 132);
    padding: 20px;
    padding-bottom: 10px;
    color: white;
}

.headercontent {
    display: flex;
    text-align: center;
}

.headerlogo {
    width: 10vw;
    text-align: left;
}

.title {
    padding-left: 20px;
}

nav {
    width: 100%;
    padding: 5px;
    margin-right: 0px;
    align-items: right;
    background-color: rgba(94, 54, 132);
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
    list-style-type: none;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.navlinks {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    height: 100%;

}

.navlinks li{
    padding-right: 40px;
    position: relative;
    
}

#productos {
    padding-bottom: 20px;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #7845a7a4;;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.submenu li {
    margin: 0;
    padding: 10px;
    white-space: nowrap;
}

.submenu li a {
    text-decoration: none;
    color: white;
    display: block;
    border: none;
}

#productos-menu:hover .submenu {
    display: block;
}

.button-up {
    display: block;
    width: 60px;
    height: 60px;
    background-color: rgba(94, 54, 132);
    color:white;
    /* text-align: center; */
    padding: 5px;
    border-radius: 999px;
    position: fixed;
    right: 5px;
    bottom: 5px;
    box-sizing: border-box;
    transition: 0.5s all;
    text-decoration: none;
    text-align: center 
}

.button-up:hover {
    background-color: #f2a725e0
}
.navlinks a {
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s all;
}

.navlinks a:hover {
    background-color: #f2a725e0;
}

.title_h2 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}

#productos-destacados {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.producto {
    width: 30vw;
    margin: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.producto p {
    margin-bottom: 10px;
}

.producto button {
    background-color: rgba(94, 54, 132);
    color: #ffffff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.producto button:hover {
    background-color: #f2a725e0;
}

.precio {
    font-size: 2vw;
}

.fotos_clientes #imagen_perro {
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fotos_clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.fotos_clientes h2 {
    text-align: center;
    margin-bottom: 20px;
}

.fotos_clientes article {
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
	.headerlogo {
        width: 80px;
    }
    .title {
        font-size: 1.2em;
    }
    .navlinks li {
        padding: 5px;
    }
    .navlinks a {
		padding: 0px; 
		border: none; 
		border-radius: 0px; 
		display: flex;
		transition: 1s all;
}
	.navlinks a:hover {
		color: #f2a725e0;
    }
    
    .producto {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
	header, main, footer {
        padding: 5px;
        margin: 0;
    }
    .title {
        font-size: 1.2em;
    }
    .headerlogo {
        width: 60px;
    }
    

    .title_h2, .title_h3_vet, .title_h3_pelu {
        font-size: 1.2em;
    }
    
    .navlinks a:hover {
    color: #f2a725e0;
    }
    
    .navlinks li {
        padding: 3px;
    }
    .navlinks a {
		font-size: 0.8em;
		padding: 0px; 
		border: none; 
		border-radius: 0px; 
		display: flex;
		transition: 1s all;
}
    .producto {
        width: 100%;
    }
}

.container_footer {
    background-color: #7845a7;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_logo {
    width: 8vw;
}

.item_footer {
    list-style-type: none;
    text-align: center;
}

.sector_redes {
    text-align: center;
    display: inline-flex;
    padding: 10px;
    margin-left: 15px;
}

article {
    padding: 25px;
    background-color: #7845a7;
    border-radius: 25px;
}

article img {
    border-radius: 999px;
    background-color: antiquewhite;

    width: 75%;
}