/* Estilos general de la pagina */
body, header {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #000010;
}

h1{
    background-color: #6a19d4;
}
body, header{
    background-color: #5e3684;
    padding: 10px;
    text-align: center; 
}

.background-image {
  background-image: url('../img/logoasistvet.jpeg'); 
  background-size: contain;
  background-position: center;
  position: relative;
  padding: 30px; 
  box-sizing: border-box; 
  
}
nav {
    text-align: center; 
}
nav {
    background-color: #3ebccb;
    color: #ffffff;
    text-align: center;
    
}

nav ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block; 
    margin-right: 20px; 
}

nav ul li:last-child {
    margin-right: 0; 
}


nav ul li a {
    text-decoration: none; 
    color: #fff; 
    padding: 5px 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
    display: flex;
    justify-content: space-between;
    align-items: center
}

nav ul li a:hover {
    background-color: #6ba520; 
}

@media (max-width: 300px) {
   
}


@media (min-width: 601px) and (max-width: 1024px) {
 
}


@media (min-width: 1025px) {
   
}
.carousel {
    width: 80%; 
    margin: 0 auto; 
    padding: 20px;
  }
  
  
  .carousel-item img {
    max-width: 100%;
    height: auto; 
  }
  
.container {
    width: 30%; 
    height: 100px; 
    border: 0px solid #000; 
    display: inline-block; 
    margin-right: 0px; 
}

.container img {
    width: 200px; 
    height: auto;
}
footer {
    background-color: #d66418; 
    color: #fff; 
    padding: 20px 0; 
    text-align: center; 
   
}

