@font-face {
    font-family: Roboto;
    src: url(../src/fonts/Roboto/Roboto-Regular.ttf);
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.header_logo img {
    height: 7vw;
}

#productos .prod_perros img {
    height: 30vw;
    border-radius: 50%;
    opacity: 0.9;
    filter: grayscale(0);
}

#productos .prod_gatos img {
    height: 30vw;
    border-radius: 50%;
    opacity: 0.9;
    filter: grayscale(0);
}